@tailwind base;
@tailwind components;
@tailwind utilities;
.font-playfair {
  font-family: 'Playfair Display', serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 65%,0 100%);
}

